@model IEnumerable<PicturyMarket.Domain.Entity.Pictury>

@{
    ViewData["Title"] = "GetPicturies";
}

@foreach(var pictury in Model)
{
    <h>@pictury.Title</h>
    <p>@pictury.Description</p>
    <p>@pictury.ImageUrl</p>
    <p>@pictury.Price</p>
    <p>@pictury.DataCreate</p>
    <p>@pictury.Genre</p>
}